#logoutBtn{
    float: right;
    margin-top:1%;
    width: 10%;
}

#addBtn{
    margin-bottom: 20px;
    margin-right: 20px;
}

#inputContent{
    padding:0px;
}

#addCommentDiv{
    width:100%;
}

#newComment{
    width:70%;
    height: 50%; 
    float: left;  
}

#hiddenMessageKey{
    width:0.2px;
    height:0.2px;
}

#sendBtn{
    float:right;
    width:25%;
    
}