page-home {

}

#logoutBtn{
    float: right;
    margin-top:1%;
    width: 10%;
}

#reply{
    margin-left:85%;  
}

ul{
    padding:0px;
}

li{
    list-style-type: none;
}

#messComment{
    width:100%;
}
